huggingface-hub>=0.34.0,<1.0
transformers==4.57.3
accelerate==1.13.0
peft
trl
bitsandbytes
datasets
modelscope
pillow
ipykernel
scikit-learn
pandas
rouge-score
nltk
bert-score
jieba
python-dotenv
openai
tqdm
numpy
pyyaml
sentencepiece
protobuf